{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Welcome to Sincere</h2>
    <p>
        Earn points for guessing the truth about others stories or give yours if you guess it wrong.
    </p>
    <div style="width: 200px">
        <a href="{{ url_for('auth.oauth_authorize', provider='google') }}" class="btn btn-block btn-social btn-google"
           role="button" aria-pressed="true"><span class="fa fa-google"></span>Login with Google</a>
    </div>
</div>
</div>
{% endblock %}
